@import "_modules/_bits";

body {
    color: $darkblu;
}

#introduction {
    @include boxShadow;
    h1 {
        color: #fff;
    }
    h4 {
        color: #fff;
    }
}
#menu, #footer-menu {
    ul {
        li {
            a {
                color: #fff;
            }
        }
    }
}
#Portfolio, #Contact, #Skills, #About {
    display: none;
    h1 {
        padding-bottom: 5px;
        margin-bottom: 15px;
        position: relative;
        div {
            position: absolute;
            border-bottom: 3px dashed $pink;
            bottom: 0;
            width: 35%;
        }
    }
}
footer {
    a {
        color: #fff;
    }
}

label {
    @include title;
}
input {
    @include main;
    font-weight: 600;
    color: #fff;
}
::placeholder {
    color: #fff;
    font-weight: 300;
}
textarea {
    @include main;
    color: #fff;
    font-weight: 600;
}
button {
    @include title;
    color: #fff;
    letter-spacing: 2px;
}
p {
    @include main;
}
span {
    @include title;
}
a {
    @include main;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    color: $pink;
    &:hover {
        transform: translateY(-1px);
    }
}
ul {
    @include main;
    font-weight: 600;
}
h1, h2, h3, h4 {
    @include title;
}