@import "_modules/_bits";

* { box-sizing:border-box; margin:0; padding:0; }

::-webkit-scrollbar { 
    display: none; 
}

html { height:100%; width:100%; }

body {
    align-content:center;
    background-color: #ffd319;
    background-image: linear-gradient(to bottom right, #ffd319 0%,#ff901f 19%,#ff2975 51%,#8c1eff 100%);
    background-attachment: fixed;
    justify-items:center;
    height:100%;
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
}

#container {
    height: 480px;
    width: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh auto 0px auto;
}

a {
    text-decoration: none;
}


button {
    &:hover {

    }
}

.active, .hover-active{
    display: block !important;
}
.active-skill {
    display: flex !important;
}