@import "_modules/_bits";

* { box-sizing:border-box; margin:0; padding:0; }

::-webkit-scrollbar { 
    display: none; 
}

html { height:100%; width:100%; }

body {
    align-content:center;
    background-color: #fff;
    justify-items:center;
    height:100%;
    width:100%;
}

#overlay {
    background-image: url("../../images/scanlines.png");
    pointer-events: none;
    animation: noise 1.5s infinite linear;
}
@keyframes noise {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: 2000px;
    }
}

#introduction {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-image: url("../../images/BG-master.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    position: relative;
    z-index: -1;
    h1, h4 {
        max-width: 380px;
        padding: 20px 0px;
        position: fixed;
        text-align: justify;
        letter-spacing: 2px;
    }
    h1 {
        top: 45%;
    }
    h4 {
        top: 55%;
    }
}
#container {
    // height: 520px;
    // width: 680px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    background: url("../../images/bg-container.gif");
    z-index: 1;
    @include borderRadius;

}

img {
    @include borderRadius;
}
.active-skill {
    display: flex !important;
}

footer {
    margin-top: 50px;
    height: 5vh;
    min-height: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00001a;
    @include boxShadow;
    a {
        display: inline-flex;
    }
}

a {
    transition: transform 0.2s ease;
    &:hover {
        transform: translateY(-2px);
    }
}