@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
/* canvas responsiveness */
@media screen and (min-width: 992px) {
  #container {
    width: 900px;
    height: 675px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #container {
    width: 700px;
    height: 525px; } }
@media (min-width: 600px) and (max-width: 767px) {
  #container {
    width: 600px;
    height: 450px; } }
@media (min-width: 480px) and (max-width: 599px) {
  #container {
    width: 480px;
    height: 360px; } }
@media only screen and (max-width: 479px) {
  #container {
    width: 300px;
    height: 225px; } }

@media screen and (min-width: 992px) {
  #background-canvas, #player-canvas {
    width: 840px;
    height: 630px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #background-canvas, #player-canvas {
    width: 640px;
    height: 480px; } }
@media (min-width: 600px) and (max-width: 767px) {
  #background-canvas, #player-canvas {
    width: 540px;
    height: 405px; } }
@media (min-width: 480px) and (max-width: 599px) {
  #background-canvas, #player-canvas {
    width: 420px;
    height: 315px; } }
@media only screen and (max-width: 479px) {
  #background-canvas, #player-canvas {
    width: 280px;
    height: 210px; } }

/* end canvas responsiveness */
@media (min-width: 480px) and (max-width: 599px) {
  body #introduction h1, body #introduction h4 {
    padding: 20px;
    letter-spacing: 1px; } }
@media only screen and (max-width: 479px) {
  body #introduction h1, body #introduction h4 {
    padding: 20px;
    letter-spacing: 1px; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #introduction h1 {
    top: 30%; } }
@media only screen and (max-width: 479px) {
  body #introduction h1 {
    top: 30%; } }

@media (min-width: 480px) and (max-width: 599px) {
  body #menu {
    height: 10vh; } }
@media only screen and (max-width: 479px) {
  body #menu {
    height: 10vh; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #menu ul li {
    padding: 10px; } }
@media only screen and (max-width: 479px) {
  body #menu ul li {
    padding: 5px; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #menu ul li a {
    font-size: 12px; } }
@media only screen and (max-width: 479px) {
  body #menu ul li a {
    font-size: 12px; } }

@media screen and (min-width: 992px) {
  body #instruction #mobile-instruction {
    display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  body #instruction #mobile-instruction {
    display: block; } }
@media (min-width: 600px) and (max-width: 767px) {
  body #instruction #mobile-instruction {
    display: block; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #instruction #mobile-instruction {
    display: block; } }
@media only screen and (max-width: 479px) {
  body #instruction #mobile-instruction {
    display: block; } }

@media (min-width: 480px) and (max-width: 599px) {
  body #content #Portfolio h1 .border, body #content #Skills h1 .border, body #content #About h1 .border, body #content #Contact h1 .border {
    width: 65%; } }
@media only screen and (max-width: 479px) {
  body #content #Portfolio h1 .border, body #content #Skills h1 .border, body #content #About h1 .border, body #content #Contact h1 .border {
    width: 75%; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #Portfolio div div img {
    max-width: 300px; } }
@media only screen and (max-width: 479px) {
  body #content #Portfolio div div img {
    max-width: 300px; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #Portfolio div div .portfolio-item a {
    font-size: 12px; } }
@media only screen and (max-width: 479px) {
  body #content #Portfolio div div .portfolio-item a {
    font-size: 12px; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #Portfolio div div .portfolio-item ul li img {
    max-width: 20px;
    max-height: 20px; } }
@media only screen and (max-width: 479px) {
  body #content #Portfolio div div .portfolio-item ul li img {
    max-width: 20px;
    max-height: 20px; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #Skills .skill-list {
    padding: 10px 0px; } }
@media only screen and (max-width: 479px) {
  body #content #Skills .skill-list {
    padding: 10px 0px; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #Skills .skill-list div {
    margin: 5px 0px;
    flex-direction: column; } }
@media only screen and (max-width: 479px) {
  body #content #Skills .skill-list div {
    margin: 5px 0px;
    flex-direction: column; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #Skills .skill-list div h2 {
    animation: shake 5s infinite linear; } }
@media only screen and (max-width: 479px) {
  body #content #Skills .skill-list div h2 {
    animation: shake 5s infinite linear; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #Skills .skill-list div ul li {
    padding: 0px 3px;
    font-size: 15px; } }
@media only screen and (max-width: 479px) {
  body #content #Skills .skill-list div ul li {
    padding: 0px 3px;
    font-size: 14px; } }
@media (min-width: 600px) and (max-width: 767px) {
  body #content #Skills .skill-p {
    display: block; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #Skills .skill-p {
    display: block; } }
@media only screen and (max-width: 479px) {
  body #content #Skills .skill-p {
    display: block; } }
@media (min-width: 600px) and (max-width: 767px) {
  body #content #Skills .skill-p p {
    width: auto;
    padding: 10px; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #Skills .skill-p p {
    width: auto;
    padding: 10px; } }
@media only screen and (max-width: 479px) {
  body #content #Skills .skill-p p {
    width: auto;
    padding: 10px; } }
@media (min-width: 600px) and (max-width: 767px) {
  body #content #About div {
    display: block; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #About div {
    display: block; } }
@media only screen and (max-width: 479px) {
  body #content #About div {
    display: block; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #About div div {
    display: block; } }
@media only screen and (max-width: 479px) {
  body #content #About div div {
    display: block; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #Contact a {
    display: block; } }
@media only screen and (max-width: 479px) {
  body #content #Contact a {
    display: block; } }
@media only screen and (max-width: 479px) {
  body #content #Contact form {
    padding: 0px; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #content #Contact form div {
    width: 100%; } }
@media only screen and (max-width: 479px) {
  body #content #Contact form div {
    width: 100%; } }

@media (min-width: 600px) and (max-width: 767px) {
  body #footer-menu {
    display: flex; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #footer-menu {
    display: flex;
    height: 10vh; } }
@media only screen and (max-width: 479px) {
  body #footer-menu {
    display: flex;
    height: 10vh; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #footer-menu ul li {
    padding: 10px; } }
@media only screen and (max-width: 479px) {
  body #footer-menu ul li {
    padding: 5px; } }
@media (min-width: 480px) and (max-width: 599px) {
  body #footer-menu ul li a {
    font-size: 12px; } }
@media only screen and (max-width: 479px) {
  body #footer-menu ul li a {
    font-size: 12px; } }

@media (min-width: 600px) and (max-width: 767px) {
  body footer {
    margin-top: 0px; } }
@media (min-width: 480px) and (max-width: 599px) {
  body footer {
    margin-top: 0px; } }
@media only screen and (max-width: 479px) {
  body footer {
    margin-top: 0px; } }
@media only screen and (max-width: 479px) {
  body footer a {
    font-size: 14px; } }

@keyframes shake {
  0%,100% {
    transform: translateY(-1px); }
  1%,99% {
    transform: translateY(1px); } }
@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

::-webkit-scrollbar {
  display: none; }

html {
  height: 100%;
  width: 100%; }

body {
  align-content: center;
  background-color: #fff;
  justify-items: center;
  height: 100%;
  width: 100%; }

#overlay {
  background-image: url("../../images/scanlines.png");
  pointer-events: none;
  animation: noise 1.5s infinite linear; }

@keyframes noise {
  0% {
    background-position-y: 0; }
  100% {
    background-position-y: 2000px; } }
#introduction {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-image: url("../../images/BG-master.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  z-index: -1; }
  #introduction h1, #introduction h4 {
    max-width: 380px;
    padding: 20px 0px;
    position: fixed;
    text-align: justify;
    letter-spacing: 2px; }
  #introduction h1 {
    top: 45%; }
  #introduction h4 {
    top: 55%; }

#container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  background: url("../../images/bg-container.gif");
  z-index: 1;
  -webkit-border-radius: 5px 15px 5px 15px;
  -moz-border-radius: 5px 15px 5px 15px;
  border-radius: 5px 15px 5px 15px; }

img {
  -webkit-border-radius: 5px 15px 5px 15px;
  -moz-border-radius: 5px 15px 5px 15px;
  border-radius: 5px 15px 5px 15px; }

.active, .hover-active {
  display: block !important; }

.active-skill {
  display: flex !important; }

footer {
  margin-top: 50px;
  height: 5vh;
  min-height: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00001a;
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4); }
  footer a {
    display: inline-flex; }

a {
  transition: transform 0.2s ease; }
  a:hover {
    transform: translateY(-2px); }

@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
body {
  color: #00001a; }

#introduction {
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4); }
  #introduction h1 {
    color: #fff;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8); }
  #introduction h4 {
    color: #fff;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4); }

#menu ul li a, #footer-menu ul li a {
  color: #fff; }
  #menu ul li a:hover, #footer-menu ul li a:hover {
    transform: translateY(-1px);
    color: #d966ff; }

#Portfolio, #Contact, #Skills, #About {
  display: none; }
  #Portfolio h1, #Contact h1, #Skills h1, #About h1 {
    padding-bottom: 5px;
    margin-bottom: 15px;
    position: relative; }
    #Portfolio h1 div, #Contact h1 div, #Skills h1 div, #About h1 div {
      position: absolute;
      border-bottom: 3px dashed #d966ff;
      bottom: 0;
      width: 35%; }

footer a {
  color: #fff; }
  footer a:hover {
    transform: translateY(-1px);
    color: #d966ff; }

label {
  font-family: 'VCR', sans-serif; }

input {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #fff; }

::placeholder {
  color: #fff;
  font-weight: 300; }

textarea {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-weight: 600; }

button {
  font-family: 'VCR', sans-serif;
  color: #fff;
  letter-spacing: 2px; }

p {
  font-family: 'Quicksand', sans-serif; }

span {
  font-family: 'VCR', sans-serif; }

a {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  color: #d966ff; }
  a:hover {
    transform: translateY(-1px); }

ul {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600; }

h1, h2, h3, h4 {
  font-family: 'VCR', sans-serif; }

@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
#overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999; }

#player-canvas, #background-canvas {
  image-rendering: pixelated; }

canvas {
  position: absolute; }

#player-canvas {
  z-index: 3; }

#background-canvas {
  z-index: 4; }

#instruction, #content {
  max-width: 1200px;
  padding: 10px 15px;
  margin: 0 auto; }

#container {
  max-width: 1200px;
  margin: 0 auto 50px auto; }

#instruction {
  display: flex;
  justify-content: center;
  align-items: center; }
  #instruction p {
    z-index: 2;
    display: inline-block;
    padding: 10px;
    width: 200px; }

#Portfolio div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2; }
  #Portfolio div div {
    display: inline-flex;
    margin: 10px 0px;
    max-width: 300px; }
    #Portfolio div div div {
      display: none; }
    #Portfolio div div .portfolio-item {
      display: inline-flex; }
      #Portfolio div div .portfolio-item h2 {
        padding: 20px 0px; }
      #Portfolio div div .portfolio-item a, #Portfolio div div .portfolio-item p {
        padding: 10px 0px; }
      #Portfolio div div .portfolio-item ul {
        list-style-type: none;
        display: flex;
        text-align: center;
        justify-content: center; }
        #Portfolio div div .portfolio-item ul li {
          display: inline-flex;
          padding: 0px 3px; }

#Contact a {
  display: inline;
  padding: 10px 20px;
  transition: transform 0.2s ease; }
  #Contact a:hover {
    transform: translateY(-2px); }
#Contact form div {
  z-index: 2; }

#Skills .icon-list {
  display: flex;
  text-align: center;
  justify-content: center; }
  #Skills .icon-list ul {
    z-index: 2; }
    #Skills .icon-list ul li {
      display: inline-flex;
      padding: 0px 3px; }
#Skills .skill-list {
  display: flex;
  flex-direction: column;
  padding: 15px; }
  #Skills .skill-list div {
    display: inline-flex;
    margin: 10px 20px;
    flex-direction: row;
    align-items: center;
    z-index: 2; }
    #Skills .skill-list div h2 {
      display: inline-flex;
      padding: 0px 20px;
      cursor: pointer;
      transition: color 0.2s ease, transform 0.2s ease; }
      #Skills .skill-list div h2:hover {
        transform: translateY(-2px);
        color: #d966ff; }
    #Skills .skill-list div ul {
      list-style-type: none;
      display: none; }
      #Skills .skill-list div ul li {
        padding: 0px 10px;
        display: inline-flex; }
#Skills .skill-p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px; }
  #Skills .skill-p p {
    z-index: 2;
    display: flex;
    width: 450px;
    padding: 0px 15px; }

#About div {
  display: flex; }
  #About div div {
    display: inline-flex;
    flex-direction: column;
    z-index: 2;
    padding: 0px 15px; }
    #About div div h3 {
      padding: 0px 0px 15px 0px; }
    #About div div h4 {
      padding: 15px 10px;
      text-align: center; }
    #About div div p {
      padding: 5px 0; }

@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
.thankyou {
  padding: 20px 0px; }

form {
  display: flex;
  padding: 10px 20px;
  flex-wrap: wrap;
  justify-content: flex-end; }
  form div {
    height: 225px;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    form div label {
      padding: 5px 0px; }
    form div input {
      background-color: #00001a;
      -moz-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      -webkit-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      display: block;
      padding: 10px;
      border-style: none;
      -webkit-border-radius: 5px 15px 5px 15px;
      -moz-border-radius: 5px 15px 5px 15px;
      border-radius: 5px 15px 5px 15px; }
    form div textarea {
      background-color: #00001a;
      -moz-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      -webkit-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      display: block;
      padding: 10px;
      border-style: none;
      height: inherit;
      -webkit-border-radius: 5px 15px 5px 15px;
      -moz-border-radius: 5px 15px 5px 15px;
      border-radius: 5px 15px 5px 15px; }
  form button {
    display: inline-flex;
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-style: none;
    background-color: #00001a;
    transition: background-color 0.2s ease, transform 0.2s ease;
    -webkit-border-radius: 5px 15px 5px 15px;
    -moz-border-radius: 5px 15px 5px 15px;
    border-radius: 5px 15px 5px 15px; }
    form button:hover {
      transform: translateY(-2px);
      background-color: #d966ff; }

.hide {
  display: none; }

.sronly, #honeypot {
  display: none; }

@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
#menu {
  display: flex;
  height: 5vh;
  width: 100%;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 900;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  background-color: #00001a;
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4); }
  #menu ul {
    margin: 0 auto;
    list-style-type: none; }
    #menu ul li {
      display: inline-block;
      padding: 10px 20px; }
      #menu ul li a {
        transition: transform 0.2s ease; }
        #menu ul li a:hover {
          transform: translateY(-2px); }

#footer-menu {
  display: none;
  height: 5vh;
  width: 100%;
  align-items: center;
  z-index: 900;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  background-color: #00001a;
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4); }
  #footer-menu ul {
    margin: 0 auto;
    list-style-type: none; }
    #footer-menu ul li {
      display: inline-block;
      padding: 10px; }
      #footer-menu ul li a {
        transition: transform 0.2s ease; }
        #footer-menu ul li a:hover {
          transform: translateY(-2px); }

/*# sourceMappingURL=main.css.map */
