@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
@media screen and (min-width: 992px) {
  #container {
    height: 100px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #container {
    height: 100px; } }
@media (min-width: 600px) and (max-width: 767px) {
  #container {
    height: 100px; } }
@media (min-width: 480px) and (max-width: 599px) {
  #container {
    height: 100px; } }
@media only screen and (max-width: 479px) {
  #container {
    height: 75px; } }

@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

::-webkit-scrollbar {
  display: none; }

html {
  height: 100%;
  width: 100%; }

body {
  align-content: center;
  background-color: #fff;
  background-attachment: fixed;
  justify-items: center;
  height: 100%;
  width: 100%; }

#introduction {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 999;
  background-image: url("../../images/BG-master.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center; }
  #introduction h1, #introduction h4 {
    max-width: 380px;
    padding: 20px 0px;
    position: fixed;
    text-align: justify;
    letter-spacing: 2px; }
  #introduction h1 {
    top: 45%; }
  #introduction h4 {
    top: 55%; }

#instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; }
  #instruction p {
    display: inline-block;
    padding: 20px;
    width: 200px; }

#container {
  height: 520px;
  width: 680px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  background: url("../../images/bg-container.gif");
  z-index: 1;
  -webkit-border-radius: 5px 15px 5px 15px;
  -moz-border-radius: 5px 15px 5px 15px;
  border-radius: 5px 15px 5px 15px; }

a {
  text-decoration: none; }

.active, .hover-active {
  display: block !important; }

.active-skill {
  display: flex !important; }

footer {
  height: 5vh;
  min-height: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00001a;
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4); }
  footer a {
    display: inline-flex; }

@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
#introduction {
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4); }
  #introduction h1 {
    color: #fff; }
  #introduction h4 {
    color: #fff; }

#menu ul li a {
  color: #fff; }

#Portfolio, #Contact, #Skills, #About {
  display: none; }
  #Portfolio h1, #Contact h1, #Skills h1, #About h1 {
    padding-bottom: 5px;
    margin-bottom: 15px;
    position: relative; }
    #Portfolio h1 div, #Contact h1 div, #Skills h1 div, #About h1 div {
      position: absolute;
      border-bottom: 2px solid #ff9966;
      bottom: 0;
      width: 35%; }

footer a {
  color: #fff; }

label {
  font-family: 'VCR', sans-serif; }

input {
  font-family: 'Quicksand', sans-serif; }

textarea {
  font-family: 'Quicksand', sans-serif; }

button {
  font-family: 'VCR', sans-serif; }

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600; }

a {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600; }

h1 {
  font-family: 'VCR', sans-serif; }

h2 {
  font-family: 'VCR', sans-serif; }

h4 {
  font-family: 'VCR', sans-serif;
  color: #fff; }

@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
#player-canvas, #background-canvas {
  image-rendering: pixelated; }

canvas {
  position: absolute; }

#player-canvas {
  z-index: 3; }

#background-canvas {
  z-index: 4; }

#instruction, #container, #content {
  max-width: 1200px;
  margin: 0 auto; }

#overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-image: url("../../images/scanlines.png");
  pointer-events: none; }

#Portfolio div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  #Portfolio div div {
    display: inline-flex;
    margin: 10px 20px; }
    #Portfolio div div div {
      display: none; }
    #Portfolio div div .portfolio-item {
      display: flex;
      margin: 10px 0px;
      max-width: 300px; }
      #Portfolio div div .portfolio-item h2 {
        padding: 20px 0px; }
      #Portfolio div div .portfolio-item a, #Portfolio div div .portfolio-item p {
        padding: 10px 0px; }

#Contact a {
  display: inline;
  padding: 10px 20px; }

#Skills .skill-list {
  display: flex;
  flex-direction: column; }
  #Skills .skill-list div {
    display: inline-flex;
    margin: 10px 20px;
    flex-direction: row;
    align-items: center; }
    #Skills .skill-list div h2 {
      display: inline-flex;
      padding: 0px 20px;
      cursor: pointer; }
    #Skills .skill-list div ul {
      list-style-type: none;
      display: none; }
      #Skills .skill-list div ul li {
        padding: 0px 10px;
        display: inline-flex; }
#Skills .skill-p {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  #Skills .skill-p p {
    display: flex;
    width: 450px;
    padding: 0px 15px; }

#About div {
  display: flex; }
  #About div div {
    display: inline-flex;
    flex-direction: column; }

@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
form {
  display: flex;
  padding: 10px 20px;
  flex-wrap: wrap;
  justify-content: flex-end; }
  form div {
    height: 225px;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    form div label {
      padding: 5px 0px; }
    form div input {
      background-color: #00001a;
      -moz-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      -webkit-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      display: block;
      padding: 10px;
      border-style: none; }
    form div textarea {
      background-color: #00001a;
      -moz-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      -webkit-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
      display: block;
      padding: 10px;
      border-style: none;
      height: inherit; }
  form button {
    display: inline-flex;
    height: 50px;
    width: 100px;
    padding: 10px; }

@font-face {
  font-family: VCR;
  src: url("vcr.ttf"); }
#menu {
  display: flex;
  height: 5vh;
  width: 100%;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 900;
  background-color: #00001a;
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4);
  box-shadow: inset 0px 0px 20px 0px rgba(230, 230, 230, 0.4); }
  #menu ul {
    margin: 0 auto;
    list-style-type: none; }
    #menu ul li {
      display: inline-block;
      padding: 10px 20px; }

.item-menu {
  position: fixed;
  width: 100%;
  height: 120px;
  overflow: hidden; }
  .item-menu .nav-desktop {
    max-height: 120px;
    text-align: center; }
    .item-menu .nav-desktop ul {
      list-style-type: none;
      display: inline-flex; }
      .item-menu .nav-desktop ul li {
        width: 15vw;
        min-width: 115px;
        margin: 0 auto;
        display: inline-block; }
    .item-menu .nav-desktop img {
      display: inline-flex;
      max-height: 110px; }

/*# sourceMappingURL=main.css.map */
