@import "_modules/_bits";

form {
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
    div {
        height: 225px;
        width: 50%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        label {
            padding: 5px 0px;
        }
        input {
            background-color: $darkblu;
            @include boxShadow;
            display: block;
            padding: 10px;
            border-style: none;
            @include borderRadius;
        }
        textarea {
            background-color: $darkblu;
            @include boxShadow;
            display: block;
            padding: 10px;
            border-style: none;
            height: inherit;
            @include borderRadius;
        }
    }

    button {
        display: inline-flex;
        height: 50px;
        width: 100px;
        padding: 10px;
        margin: 10px;
        border-style: none;
        background-color: $darkblu;
        transition: background-color 0.2s ease, transform 0.2s ease;
        @include borderRadius;
        &:hover {
            transform: translateY(-2px);
            background-color: $pink;
        }
    }
}

.hide {
    display: none;
}
.sronly, #honeypot {
    display: none;
}